@model TransientService
@inject TransientService transientService

<h1 class="mb-5">Dependency Injection - <em>Transient</em></h1>

<h5>Parent View</h5>
<p><span>From Controller - return View(_transientService);</span>@Model.GetId()</p>
<p><span>In View - Dependency Injection</span>@transientService.GetId()</p>

<h5 class="mt-5">Child Components/Partial Views</h5>
<partial name="_TransientPartial" model=1 />
<partial name="_TransientPartial" model=2 />